<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="120"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.webServer/>

  <connectionStrings>
    <!-- connect to staging -->
    <add name="apps"    connectionString="Data Source=vmcanstsql-01;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient"/>
    <add name="V5_Vubz" connectionString="Data Source=vmcanstsql-01;Initial Catalog=V5_Vubz;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient"/>

    <!-- connect live to VMSQL-01 to develop - rare (ensure hosts are setup) -->
    <!--
    <add name="apps"    connectionString="Data Source=VMSQL-01;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />
    <add name="V5_Vubz" connectionString="Data Source=VMSQL-01;Initial Catalog=V5_Vubz;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />
    -->

  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="portal.services.kendoUIAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="portal.services.kendoUI">
        <endpoint address="" behaviorConfiguration="portal.services.kendoUIAspNetAjaxBehavior" binding="webHttpBinding" contract="portal.services.kendoUI"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <!--this is for localhost and corporate-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@vubiz.com">
        <network host="192.168.1.202" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>