<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--live connection string-->
	<connectionStrings>
    <add name="apps"    connectionString="Data Source=VMSQL-01;        Initial Catalog=apps;    Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="V5_Vubz" connectionString="Data Source=VMSQL-01;        Initial Catalog=V5_Vubz; Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <!--this ensures the WCF suppports ssl-->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding xdt:Transform="Replace">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <!--this is for live mail server-->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@vubiz.com">
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>  
 
  
</configuration>