<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--staging <connectionStrings> are same as local-->

  <!--this ensures the WCF suppports ssl-->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding xdt:Transform="Replace">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>


</configuration>