<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="120"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/v7/errors.aspx" />-->
    <customErrors mode="Off"/>
  </system.web>

  <!--used in Web.Debug and Web.Release to force https -->
  <system.webServer>
  </system.webServer>

  <!--local connection string (select server for testing, typically staging but can be live if necessary) -->
	<!--connectionString="Data Source=192.168.1.133, 1400;-->

  <!--<add name="V5_VubzConnectionString" connectionString="Data Source=stagingdata,1400;Initial Catalog=V5_Vubz;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk"
  providerName="System.Data.SqlClient" />-->


  <connectionStrings>
    <!-- use at office -->
    <add name="apps" connectionString="Data Source=stagingdata,1400;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />
		<add name="V5_Vubz" connectionString="Data Source=stagingdata,1400;Initial Catalog=V5_Vubz;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />

    <!-- use at home -->
    <!--   
		<add name="apps" connectionString="Data Source=192.168.1.133,1400;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />
		<add name="V5_Vubz" connectionString="Data Source=192.168.1.133,1400;Initial Catalog=V5_Vubz;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="portal.services.kendoUIAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="portal.services.kendoUI">
        <endpoint address="" behaviorConfiguration="portal.services.kendoUIAspNetAjaxBehavior" binding="webHttpBinding" contract="portal.services.kendoUI"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <!--this is for localhost and corporate-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@vubiz.com">
        <network host="192.168.1.202" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
<!--<bindings>
  <webHttpBinding>
    <binding name="HttpOrHttps">
      <security mode="None" />
    </binding>
  </webHttpBinding>
</bindings>-->
<!--address="http://localhost/portal/services/kednoUI.svc"-->
