.divPage { width: 650px; }

.tabContain { background-color: #0178B9;  }


.tbDates { margin: auto; background-color: #0178B9; }
  .tbDates td { vertical-align: top; border: none; }
  .tbDates .tdParent { padding: 10px; border: none; color: white; }
  .tbDates .nextPrev { display: none; }

