.panBoth { width: 100%; min-width: 750px; margin: 50px auto; padding: 0; }

.panTop .title1 { padding-bottom: 20px; text-align: center; }
.panTop .btnAdd { margin: 5px 0 0 20px; }
.panBot .title2 { border: none; padding-bottom: 15px; }
.panBot .btnList { margin: 5px 0 0 20px; }

.gvModules { margin: 30px auto; width: 850px; margin-bottom: 100px; }
  .gvModules tr th { padding: 5px; white-space: nowrap; height: 30px; }
  .gvModules tr td { padding: 0px; }
    .gvModules tr td:nth-child(2) { padding-left: 5px; }
  .gvModules tr:last-child td { padding: 5px; }

  /* the 'not' ignores the last line for paging - then remove any borders */
  .gvModules tr:not(:last-child) td:nth-child(1) { width: 80px; }
  .gvModules tr:not(:last-child) td:nth-child(2) { width: 670px; }
  .gvModules tr:not(:last-child) td:nth-child(3) { width: 50px; }
  .gvModules .commands * { border: none; }

.dvModule { width: 800px; margin: 20px auto 0px; }
  .dvModule tr, .dvModule th, .dvModule td { border: none; border-bottom: inherit; }
    .dvModule tr:not(:last-child) td:first-child:after { content: " : "; }
  .dvModule td { width: 50%; padding: 5px; vertical-align: top; margin: auto; }
    .dvModule td input[type=text] { height: 20px; width: 300px; font-weight: bold; }
    .dvModule td input[type=checkbox] { outline: 1px solid #1e5180; -ms-transform: scale(1.5); /* IE */ -moz-transform: scale(1.5); /* FF */ -webkit-transform: scale(1.5); /* Safari and Chrome */ -o-transform: scale(1.5); /* Opera */ }
    .dvModule td:first-child { text-align: right; font-weight: bold; padding-right: 6px; }
  .dvModule tr:last-child td { text-align: center; height: 50px; vertical-align: middle; }

.commands { padding: 0 10px; }

option:checked { font-weight: bold; font-style: italic; }
.add { margin: -7px 5px; }
.info { margin-top: 5px; width: 25px; }
.edit { margin: 15px; }
.email { width: 25px; margin: 0; }
.icons { width: 25px; padding: 0; }

.dropDown { padding: 0; height: 20px; vertical-align: middle; margin-bottom: 2px; }
.thisTitle { margin-top: 25px; }
