.tabProfiles { width: 95%; border: none; margin: 25px auto; }
  .tabProfiles td,
  .tabProfiles th { border: none; vertical-align: top; }

.gvProfiles tr th,
.gvProfiles tr td { padding: 4px 10px; height: 30px; vertical-align: top; text-align: left; }
  .gvProfiles tr th:nth-child(2),
  .gvProfiles tr td:nth-child(2),
  .gvProfiles tr th:nth-child(3),
  .gvProfiles tr td:nth-child(3) { text-align: center; white-space: nowrap; }




.gvProfile tr th,
.gvProfile tr td { padding: 4px 10px; height: 30px; vertical-align: top; text-align: left; }

.gvProfile tr:first-child th:first-child img { cursor: pointer; position: relative; width: 30px; top: 10px; }





/*.gvProfile tr th:nth-child(4),
  .gvProfile tr td:nth-child(4) { text-align: center; white-space: nowrap; }*/
