.gvPurchasedAndAssigned { margin: 35px auto; }
  .gvPurchasedAndAssigned th { padding: 8px; }
  .gvPurchasedAndAssigned tr:last-child td * { border: none; padding: 2px; }
  .gvPurchasedAndAssigned tr:hover td { color: yellow; }
  .gvPurchasedAndAssigned tr:not(:first-child) td:first-child:hover { text-decoration: underline; } /* this enables link to learners grid */
  .gvPurchasedAndAssigned td a { color: white;  }

.panButtons { margin: 50px; }
.panButton { margin: 0 10px; }

.info { margin: 2px 0 -3px; width: 25px; }

.panConfirmShell {
  top: 150px;
}

.panConfirm { /* reduce size of this panel */
  width: 300px;
  height: 200px;
  margin: 0px auto;
  padding: 10px;
}

  .panConfirm td {
    border: none;
  }