
/* these are special styles */

/* this is symbol to clear a text box */
.clear { cursor: pointer; color: #8DC640; margin-left: 3px;  }

/* this is used to highlight items typically in labels - example in accountPassword.aspx */
.hilite { border: 1px solid white; padding: 0 4px; }

/* used for passwords, etc */
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
