html, th, td, input, button, a, b {
  font-size: 0.95em;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

h1, h2, h3, .c1, .c2, .c3 {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
}

h1, h2, h3 {
  text-align: center;
}

.c1, .c2, .c3 {
  text-align: left;
}

h1, .c1 {
  font-size: 1.06em;
  font-weight: bold;
}

h2, .c2 {
  font-size: 1.02em;
}

h3, .c3 {
  font-size: 1.00em;
}

table, td, th {
  border: 1px solid #cccccc;
}

  table th * {
    text-align: left;
    font-weight: bold;
  }

  table th a {
    color: white;
  }

.alignCenter {
  text-align: center;
  max-width: 150px;
}

.alignLeft {
  text-align: left;
}

.code {
  text-transform: uppercase;
  font-size: .93em;
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.noWrap {
  white-space: nowrap;
}

.gridLink a {
  text-transform: uppercase;
  font-size: .93em;
  font-weight: bold;
}

.borderLine {
  border-bottom: 1px solid white;
}

body {
  background-color: white;
  text-align: center;
}

/* divPage is for the blue shell for most apps */
.divPage {
  background-color: #0178B9;
  padding: 20px;
  margin: auto;
  color: white;
  overflow: auto;
  margin-top: 80px;
}

  .divPage h1, .divPage h2, .divPage h3 {
    color: inherit;
  }

.body {
  margin: auto;
  text-align: center;
}

.logo {
  max-width: 400px;
  max-height: 200px;
  margin: 20px 0 20px;
}

.exit {
  cursor: pointer;
  width: 30px;
  float: right;
}

.excel {
  cursor: pointer;
  float: right;
  margin: 10px 10px 0 0;
}

.chart {
  cursor: pointer;
  float: right;
  margin: 10px 10px 0 0;
}

.labDate {
  display: block;
  padding-top: 10px;
  text-align: center;
  font-size: 1.04em;
  color: white;
}

.panAlert {
  color: white;
  position: absolute;
  top: 20px;
  left: 20%;
  right: 20%;
  height: 110px;
  border: 1px solid #cccccc;
  padding: 30px;
  background-color: #0178B9;
  text-align: center;
  box-shadow: 0px 0px 30px grey;
}

.labAlert {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#divExit {
  position: absolute;
  bottom: 5px;
  width: 90%;
  text-align: center;
  font-style: italic;
}

.commands {
  opacity: 0.65;
  padding: 0 10px;
  margin: 5px;
  border: none;
}

.icons {
  width: 35px;
  padding: 0;
}

input[type="text"], input[type="password"] {
  height: 25px;
}

.button, .button100, .button150, .button200 {
  color: #0178B9;
  border-color: gray;
  border-top-color: inherit;
  border-left-color: inherit;
  border-width: 1px 2px 2px 0px;
  background-color: white;
  height: 33px;
  font-weight: bold;
}

.button100 {
  width: 100px;
}

.button150 {
  width: 150px;
}

.button200 {
  width: 200px;
}

/* this is a newer variation on the button */
.newButton {
  color: white;
  border: none;
  border: 1px solid white;
  background-color: none;
  font-weight: bold;
  font-size: 1.0em;
  padding: 5px 20px;
  margin: 3px;
}

  .newButton:hover {
    color: #0178B9;
    background-color: white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-decoration: none;
  }

.panBoth {
  width: 100%;
  min-width: 750px;
  margin: 20px auto;
  padding: 0;
}

/* this is for the Alert/Confirm panel*/
.panConfirmShell {
  position: absolute;
  left: 50%;
  top: 50px;
}

.panConfirm {
  position: relative;
  left: -50%;
  color: white;
  width: 400px;
  height: 200px;
  margin: 100px auto;
  border: 1px solid black;
  padding: 30px;
  background-color: #0178B9;
  text-align: center;
  box-shadow: 0px 0px 50px black;
  z-index: 99;
}

  .panConfirm td {
    border: none;
  }

.yellow {
  color: yellow;
}


/* when hovering over these gridview table rows, make the text fields yellow (bold is jerky) */
.gridView tr:hover td,
.gvUsers tr:hover td,
.gvProgs tr:hover td,
.gvLearners tr:hover td,
.gvAssess tr:hover td,
.gvAliases tr:hover td,
.gvProfile tr:hover td,
.gvProfiles tr:hover td,
.gvCustomers tr:hover td,
.gvPrograms tr:hover td,
.gvModules tr:hover td {
  color: yellow;
}


/* these are special styles */
.empty td { /* typically used in gridviews or detailsviews when no data returned */
  font-weight: bold;
  color: yellow;
  padding: 20px !important;
  margin: 20px;
}

/* this is symbol to clear a text box */
.clear {
  cursor: pointer;
  color: #8DC640;
  margin-left: 3px;
}

/* this is used to highlight items typically in labels - example in accountPassword.aspx */
.hilite {
  border: 1px solid white;
  padding: 0 4px;
}

/* used for passwords, etc */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* used to for titles - hides after 10 secs (note need a scipt*/
.hoverUnderline:hover {
  text-decoration: underline;
}

.thisTitle {
  width: 800px;
  text-align: left;
  margin: 0 auto 15px;
}

/* used in Customers.aspx  */
.tip:hover {
  color: yellow
}

.labError {
  color: yellow;
  font-weight: bold;
  width: 600px;
}

.labErrorSQL {
  font-weight: 100;
  font-style: italic;
}

/* used in customers.aspx and ecommerceExtend.apx */
.dropDown {
  padding: 0 3px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  color: white;
  background-color: rgb(1, 120, 185);
  -webkit-appearance: none; /* remove default arrow */
  -moz-appearance: none; /* remove default arrow */
}

  .dropDown::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
  }

  .dropDown:hover {
    background-color: white;
    color: rgb(1, 120, 185);
  }
/* for some reason FF doesn't need extra padding on dropdown, other browsers look better with it  */
@-moz-document url-prefix() {
  .dropDown {
    padding: 0;
  }
}
