div { width: 350px; color: white; background-color: #0178B9; margin: 50px auto; padding: 35px; }
  div h1 { margin-bottom: 40px; font-size: 1.3em; }
  div ol { text-align: left; text-align: left; margin: 20px; color: white; }
    div ol li a { color: white; margin-bottom: 30px; display: block; }
      div ol li a:hover { text-decoration: underline; }
