.drp { border: 1px solid black; }
.statusLabel { color: yellow; width: 80%; margin: auto; font-weight: bold; }

table { border: none; width: 400px; margin: 40px auto; }
td:last-child { padding-top: 5px; }

