.divPage { width: 900px; }

.gvPasswords { margin: 35px auto; width: 800px; text-align: center; }
  .gvPasswords tr th { padding: 10px; white-space: nowrap; }
  .gvPasswords .commands * { border: none; padding:5px; }