
.panTop .title1 { padding-bottom: 20px; text-align: center; }
.panTop .btnAdd { margin: 5px 0 0 20px; }
.panBot .title2 { border: none; padding-bottom: 15px; }
.panBot .btnList { margin: 5px 0 0 20px; }

.gvProfiles { margin: 30px auto; width: 725px; }
  .gvProfiles tr th:first-child { padding: 5px; white-space: nowrap; text-align: left; }
  .gvProfiles tr th { padding: 10px; white-space: nowrap; }
  .gvProfiles tr td { padding: 0px; }
    .gvProfiles tr td:nth-child(1),
    .gvProfiles tr td:nth-child(2),
    .gvProfiles tr td:nth-child(3),
    .gvProfiles tr td:nth-child(4) { padding-left: 5px; }
  .gvProfiles tr:last-child td { padding: 5px; }
  /* All lines but the last line */
  .gvProfiles tr:not(:last-child) td:nth-child(1) { width: 150px; text-transform: uppercase; }
  .gvProfiles tr:not(:last-child) td:nth-child(2) { width: 150px; }
  .gvProfiles tr:not(:last-child) td:nth-child(3) { width: 150px; }
  .gvProfiles tr:not(:last-child) td:nth-child(4) { width: 100px; }
  .gvProfiles tr:not(:last-child) td:nth-child(5) { width: 050px; }
  .gvProfiles tr:not(:last-child) td:nth-child(6) { width: 075px; }
  .gvProfiles tr:not(:last-child) td:nth-child(7) { width: 050px; }

  .gvProfiles .profNameNew { text-transform: uppercase; }
  /* Remove border around the arrows */
  .gvProfiles .commands * { border: none; }


.dvProfile { width: 800px; margin: 20px auto 0px; }
  .dvProfile tr, .dvProfile th, .dvProfile td { border: none; border-bottom: inherit; }
    .dvProfile tr:not(:last-child) td:first-child:after { content: " : "; }
  .dvProfile td { width: 50%; padding: 5px; vertical-align: top; margin: auto; }
    .dvProfile td input[type=text] { height: 20px; font-weight: bold; }
    .dvProfile td input[type=checkbox] { filter: invert(100%) hue-rotate(18deg) brightness(3.0); -ms-transform: scale(1.5); /* IE */ -moz-transform: scale(1.5); /* FF */ -webkit-transform: scale(1.5); /* Safari and Chrome */ -o-transform: scale(1.5); /* Opera */ }
    .dvProfile td:first-child { text-align: right; font-weight: bold; padding-right: 6px; }
    .dvProfile td:last-child { text-align: left; }
  .dvProfile tr:last-child td { text-align: center; height: 50px; vertical-align: middle; padding-top: 30px; }
  .dvProfile .custId_Upper { text-transform: uppercase; }

.profDropDown { height: 26px; font-size: .95em; font-weight: bold; font-family: 'Segoe UI',Arial,Helvetica,sans-serif }

.commands { padding: 0 10px; }
option:checked { font-weight: bold; font-style: italic; }
.add { margin: -7px 5px; }
.info { margin-top: 5px; width: 25px; }
.edit { margin: 15px; }
.email { width: 25px; margin: 0; }

.lnkShowHide { padding-left: 5px; padding-right: 5px; height: 22px; border: none; background-color: #0178B9; color: white; border: 1px solid white; }
  .lnkShowHide:hover { background-color: white; color: black; text-decoration: none; text-transform: uppercase; }
