.divPage { width: 600px; }

.tabSessions { margin: 20px auto; border-collapse: collapse; border: 10px solid #0178B9; }
  .tabSessions th { padding: 2px 6px; color: white; border-right: 1px solid #0178B9; }
    .tabSessions th:first-child { text-align: right; }
    .tabSessions th:last-child { text-align: left; }

  .tabSessions td { padding: 2px 6px; color: white; vertical-align: top; border: 1px solid #0178B9; }
    .tabSessions td:first-child { text-align: right; font-weight:bold; }
      .tabSessions td:first-child::after { content: " : " }
    .tabSessions td:last-child { text-align: left; }
